.mainContent {
  display: flex;
  flex-direction: column;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 2vh;
}

.articleBox {
  width: 100%;
  height: 25vw;
  position: relative;
  overflow: hidden;
  margin-bottom: 4vw;
  display: flex;
  align-items: flex-end;
}

.articleBox a {
  width: 100%;
  text-decoration: none;
}
.gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.gif:hover {
  opacity: 0.8;
}

.articleContent {
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 0.3rem;
  width: calc(100% - 2rem);
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.articleTitleText {
  font-size: 1rem;
  margin: 0;
}

.articleDate {
  font-size: 0.7rem;
  margin: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleName {
  font-size: 10vw;
  margin: 0;
}

.title a {
  font-size: 12pt;
  padding-top: 1.3vh;
}

.title a:hover {
  color: #9ec8b9;
}

.listBlogPosts {
  padding-top: 9vh;
  display: flex;
  flex-direction: column;
  margin: 0 3vw;
}

@media (min-width: 600px) and (max-width: 961px) {
  .articleBox {
    width: 100%;
    height: 20vw;
  }

  .articleTitleText {
    font-size: 2rem;
  }

  .articleDate {
    font-size: 1rem;
  }

  .titleName {
    font-size: 7vw;
  }

  .listBlogPosts {
    padding-top: 9vh;
    margin: 0 6vw;
  }

  .title a {
    font-size: 13pt;
  }
}

@media (min-width: 962px) {
  .articleBox {
    width: 100%;
    height: 15vw;
  }

  .articleTitleText {
    font-size: 2.5rem;
  }

  .articleDate {
    font-size: 1rem;
  }

  .titleName {
    font-size: 4.5vw;
  }

  .listBlogPosts {
    padding-top: 13vh;
    margin: 0 15vw;
  }

  .title a {
    font-size: 13.5pt;
  }
}
