.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2vh 6vw;
  font-size: 16pt;
}

.title {
  font-size: 10vw;
  margin: 0;
  align-items: flex-start;
  width: 100%;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding-top: 0.5vh;
  font-size: 3.2vw;
}

.options time {
  margin-right: 1vw;
}

.options a:hover {
  color: #9ec8b9;
}

.post {
  line-height: 155%;
}

.post img {
  width: auto;
  height: auto;
}

.footer {
  margin-top: auto;
  padding-bottom: 2vh;
  padding-right: 3vh;
  font-size: 11.2vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer a:first-child {
  padding-right: 2.5vw;
}

@media (min-width: 600px) and (max-width: 961px) {
  .mainContent {
    font-size: 19pt;
    padding: 2vh 4vw;
  }

  .title {
    font-size: 8vw;
  }

  .options {
    font-size: 2.5vw;
    padding-top: 1.5vw;
  }

  .footer {
    padding-bottom: 1.5vw;
    padding-right: 1vw;
    font-size: 6vw;
  }

  .footer a:first-child {
    padding-right: 2vw;
  }
}

@media (min-width: 962px) {
  .mainContent {
    font-size: 20pt;
    margin: 0 20vw;
    padding: 0;
  }

  .title {
    font-size: 6vw;
  }

  .options {
    font-size: 15pt;
    padding-top: 1.5vh;
  }

  .options time {
    margin-right: 0.5vw;
  }

  .footer {
    padding-bottom: 0.3vw;
    padding-right: 1vw;
    font-size: 3vw;
  }

  .footer a:first-child {
    padding-right: 1vw;
  }
}
