.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2vw;
  padding-top: 1vh;
  font-size: clamp(1.5rem, 3.5vw, 3rem);
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  color: var(--color-accent);
}
