body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #092635;
  height: 100vh;
  color: white;
}

a:link,
a:visited {
  color: white;
}

a:hover {
  color: #9ec8b9;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #5c8374;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1b4242;
}
