.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 2vh;
}

.title {
  font-size: 10vw;
  font-family: "Jersey 10", sans-serif;
}

.containerAbout {
  font-size: 8vw;
  padding-top: 3vh;
}

.footer {
  padding-top: 6vh;
  font-size: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer a:hover {
  color: #9ec8b9;
}

.cursor {
  display: flex;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
}
.rectangle {
  width: 2.8vw;
  height: inherit;
  background: white;
  animation: blink 1.5s linear infinite;
}

@media (min-width: 600px) and (max-width: 961px) {
  .mainContent {
    height: 100vh;
  }

  .title {
    font-size: 9vw;
  }

  .containerAbout {
    font-size: 5vw;
    padding-top: 2vh;
  }

  .footer {
    font-size: 7vw;
    justify-content: flex-end;
    padding-right: 2vw;
    padding-bottom: 2vh;
  }

  .footer a {
    padding-left: 2vw;
  }
}

@media (min-width: 962px) {
  .mainContent {
    height: 100vh;
  }

  .title {
    font-size: 7.1vw;
    font-family: "Jersey 10", sans-serif;
  }

  .containerAbout {
    font-size: 3.5vw;
    padding-top: 2vh;
  }

  .footer {
    font-size: 4.5vw;
    justify-content: flex-end;
    padding-right: 2vw;
    padding-bottom: 2vh;
  }

  .footer a {
    padding-left: 2vw;
  }
}
